## Cviceni

In [44]:
import pandas

names = pandas.read_csv("https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/excs/excs>studenti/jmena.csv")
students1 = pandas.read_csv("https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/excs/excs>studenti/studenti1.csv")
students2 = pandas.read_csv("https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/excs/excs>studenti/studenti2.csv")

In [45]:
students2

       jméno      příjmení                      obor  ročník  kruh  prospěch
0       Petr       Vanžura         správa IT systémů     3.0   3.0      2.24
1      Josef         Pícha        webové inženýrství     2.0   9.0      2.52
2     Michal       Steiner  informatika a management     2.0   2.0      2.33
3     Renata     Václavová  informatika a management     2.0   3.0      2.83
4    Jarmila       Selucká  informatika a management     NaN   6.0      2.34
..       ...           ...                       ...     ...   ...       ...
135   Daniel  Brandstätter  informatika a management     4.0   2.0      2.05
136    Lukáš          Čech  informatika a management     5.0   NaN      1.59
137   Dagmar      Košanová    teoretická informatika     5.0  10.0      1.34
138    Ivana    Macháčková        webové inženýrství     1.0   NaN      2.92
139  Martina       Turková    softwarové inženýrství     5.0   8.0      1.54

[140 rows x 6 columns]

In [46]:
# Načti dva datové sety studentů do oddělených pandas DataFrame a pomocí funkce concat je spoj do jednoho setu.

students = pandas.concat([students1, students2], ignore_index=True)
students

       jméno      příjmení                      obor  ročník  kruh  prospěch
0    Ludmila    Šindlerová  informatika a management     4.0  11.0      2.49
1        Jan       Pekárek    softwarové inženýrství     1.0   7.0      1.05
2      Milan         Weiss        počítačová grafika     5.0  11.0      2.62
3     Jiřina       Petrová         správa IT systémů     4.0   1.0      1.15
4      Josef      Navrátil        číslicová technika     5.0   7.0      2.42
..       ...           ...                       ...     ...   ...       ...
340   Daniel  Brandstätter  informatika a management     4.0   2.0      2.05
341    Lukáš          Čech  informatika a management     5.0   NaN      1.59
342   Dagmar      Košanová    teoretická informatika     5.0  10.0      1.34
343    Ivana    Macháčková        webové inženýrství     1.0   NaN      2.92
344  Martina       Turková    softwarové inženýrství     5.0   8.0      1.54

[345 rows x 6 columns]

In [47]:
pandas.concat([students1, students2])

       jméno      příjmení                      obor  ročník  kruh  prospěch
0    Ludmila    Šindlerová  informatika a management     4.0  11.0      2.49
1        Jan       Pekárek    softwarové inženýrství     1.0   7.0      1.05
2      Milan         Weiss        počítačová grafika     5.0  11.0      2.62
3     Jiřina       Petrová         správa IT systémů     4.0   1.0      1.15
4      Josef      Navrátil        číslicová technika     5.0   7.0      2.42
..       ...           ...                       ...     ...   ...       ...
135   Daniel  Brandstätter  informatika a management     4.0   2.0      2.05
136    Lukáš          Čech  informatika a management     5.0   NaN      1.59
137   Dagmar      Košanová    teoretická informatika     5.0  10.0      1.34
138    Ivana    Macháčková        webové inženýrství     1.0   NaN      2.92
139  Martina       Turková    softwarové inženýrství     5.0   8.0      1.54

[345 rows x 6 columns]

In [48]:
# Pokud studentovi chybí ročník, znamená to, že již nestuduje. 
# Pokud mu chybí číslo skupiny, znamená to, že jde o dálkového studenta.
# Kolik studentů v datovém setu již nestuduje a kolik jsou dálkoví studenti?

remote_students = students[students["kruh"].isnull()]
# len(remote_students)
remote_students.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27 entries, 26 to 343
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   jméno     27 non-null     object
 1   příjmení  27 non-null     object
 2   obor      27 non-null     object
 3   ročník    25 non-null     float64
 4   kruh      0 non-null      float64
 5   prospěch  27 non-null     float64
dtypes: float64(3), object(3)
memory usage: 1.5+ KB

In [49]:
no_longer_students = students[students["ročník"].isnull()]
no_longer_students

         jméno     příjmení                      obor  ročník  kruh  prospěch
6         Anna  Pavloušková        počítačová grafika     NaN  12.0      2.66
13       Alena      Krajová    softwarové inženýrství     NaN   7.0      1.64
33      Ondřej         Cicu        počítačová grafika     NaN   1.0      2.18
38      Václav       Straka        počítačová grafika     NaN   NaN      2.36
45      Michal      Linhart    softwarové inženýrství     NaN   9.0      2.20
64      Libuše    Šterclová        webové inženýrství     NaN  12.0      1.93
77    Miroslav        Smrek        počítačová grafika     NaN   2.0      1.86
89        Petr        Dobeš    softwarové inženýrství     NaN  12.0      1.47
96    Kateřina     Křivková  informatika a management     NaN   6.0      2.88
110      Pavel         Nový        webové inženýrství     NaN   1.0      2.37
124      David         Šikl        počítačová grafika     NaN  10.0      1.20
146       Jiří        Zeman  informatika a management     NaN  12.0      2.28
185     Eliška       Řípová         správa IT systémů     NaN   NaN      1.39
189      Pavla     Plhalová         správa IT systémů     NaN   9.0      1.43
194      David      Ševeček  informatika a management     NaN   1.0      2.88
203      Radek     Chrástek        číslicová technika     NaN   2.0      2.00
204     Blanka      Koubová        počítačová grafika     NaN   5.0      2.05
209    Jarmila      Selucká  informatika a management     NaN   6.0      2.34
212  Stanislav       Veselý  informatika a management     NaN   5.0      2.48
231      Irena     Štavková        webové inženýrství     NaN   5.0      1.67
234      Šárka     Šustrová        číslicová technika     NaN   6.0      2.01
246     Blanka       Dubová    softwarové inženýrství     NaN   1.0      2.91
248     Václav       Hrabec    teoretická informatika     NaN   6.0      2.72
259    Martina  Zámečníková        číslicová technika     NaN   6.0      2.24
263     Zuzana    Dvořáková        webové inženýrství     NaN  10.0      3.00
272   Miloslav        Vozka        webové inženýrství     NaN   9.0      2.21
283       Jiří      Jelínek        webové inženýrství     NaN   7.0      2.87
296      Libor        Boček  informatika a management     NaN   9.0      1.72
316      Jitka       Zíková    softwarové inženýrství     NaN   7.0      2.98
318     Renata     Vrkočová        číslicová technika     NaN   3.0      1.74
320   Miroslav      Růžička        webové inženýrství     NaN   7.0      1.37
328    Barbora      Surmová         správa IT systémů     NaN  12.0      2.61
331      Radek       Svatoš        počítačová grafika     NaN   1.0      2.85

In [50]:
# Vyčisti data od studentů, kteří nestudují nebo studují jen dálkově. Nadále budeme pracovat pouze s prezenčními studenty.
students = students.dropna(subset=["ročník", "kruh"])
students.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 287 entries, 0 to 344
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   jméno     287 non-null    object
 1   příjmení  287 non-null    object
 2   obor      287 non-null    object
 3   ročník    287 non-null    float64
 4   kruh      287 non-null    float64
 5   prospěch  287 non-null    float64
dtypes: float64(3), object(3)
memory usage: 15.7+ KB

## Seminar 10 (d. - g.)

In [58]:
# D) Zjisti, kolik prezenčních studentů je v každém z oborů.

students.groupby("obor")["jméno"].count()

obor
informatika a management    49
počítačová grafika          33
softwarové inženýrství      41
správa IT systémů           38
teoretická informatika      47
webové inženýrství          46
číslicová technika          33
Name: jméno, dtype: int64

In [59]:
students["obor"].value_counts()

informatika a management    49
teoretická informatika      47
webové inženýrství          46
softwarové inženýrství      41
správa IT systémů           38
číslicová technika          33
počítačová grafika          33
Name: obor, dtype: int64

In [63]:
# E) Zjisti průměrný prospěch studentů v každém oboru.

students.groupby("obor")["prospěch"].mean().sort_values(ascending=False)

obor
teoretická informatika      2.136809
informatika a management    2.088980
webové inženýrství          2.079130
číslicová technika          2.047576
počítačová grafika          1.971515
softwarové inženýrství      1.960976
správa IT systémů           1.917632
Name: prospěch, dtype: float64

In [69]:
# F) Načti datový set s křestními jmény. Proveď join s tabulkou studentů tak, abychom věděli pohlaví jednotlivých studentů.

spojeny = pandas.merge(students, names[["jméno", "pohlaví"]], on = ["jméno"])
spojeny

,jméno,příjmení,obor,ročník,kruh,prospěch,pohlaví
0,Ludmila,Šindlerová,informatika a management,4.0,11.0,2.49,ž
1,Ludmila,Dvořáková,číslicová technika,3.0,3.0,2.32,ž
2,Ludmila,Sklářová,softwarové inženýrství,5.0,7.0,2.95,ž
3,Ludmila,Dorazilová,softwarové inženýrství,2.0,10.0,2.00,ž
4,Jan,Pekárek,softwarové inženýrství,1.0,7.0,1.05,m
...,...,...,...,...,...,...,...
282,Ondřej,Požár,webové inženýrství,2.0,8.0,1.94,m
283,Jaromír,Gabriel,počítačová grafika,3.0,8.0,1.38,m
284,Denisa,Bílková,teoretická informatika,5.0,5.0,1.03,ž
285,Pavlína,Filová,číslicová technika,4.0,8.0,2.37,ž
286,Klára,Valentová,správa IT systémů,1.0,11.0,1.10,ž

In [66]:
students.head(5)

     jméno    příjmení                      obor  ročník  kruh  prospěch
0  Ludmila  Šindlerová  informatika a management     4.0  11.0      2.49
1      Jan     Pekárek    softwarové inženýrství     1.0   7.0      1.05
2    Milan       Weiss        počítačová grafika     5.0  11.0      2.62
3   Jiřina     Petrová         správa IT systémů     4.0   1.0      1.15
4    Josef    Navrátil        číslicová technika     5.0   7.0      2.42

In [67]:
names.head(5)

   jméno  četnost  věk pohlaví        svátek      původ
0   Jiří   296090   49       m          24.4      řecký
1    Jan   293938   40       m   24.6. a 6.7  hebrejský
2   Petr   272135   42       m  22.2. a 29.6      řecký
3   Jana   264944   50       ž          24.5  hebrejský
4  Marie   260526   65       ž          12.9  hebrejský

In [70]:
# G) Zjisti, zda na naší fakultě studují IT spíše ženy nebo spíše muži.

spojeny["pohlaví"].value_counts()

ž    170
m    117
Name: pohlaví, dtype: int64

In [71]:
spojeny.groupby("pohlaví").size()

pohlaví
m    117
ž    170
dtype: int64

In [73]:
# Zmen data v stlpci 'pohlaví' tak, ze namiesto malych, bude obsahovat velke pismena - teda hodnoty 'Ž' a 'M' namiesto 'ž' a 'm'

spojeny["pohlaví"] = spojeny["pohlaví"].str.upper()
spojeny

,jméno,příjmení,obor,ročník,kruh,prospěch,pohlaví
0,Ludmila,Šindlerová,informatika a management,4.0,11.0,2.49,Ž
1,Ludmila,Dvořáková,číslicová technika,3.0,3.0,2.32,Ž
2,Ludmila,Sklářová,softwarové inženýrství,5.0,7.0,2.95,Ž
3,Ludmila,Dorazilová,softwarové inženýrství,2.0,10.0,2.00,Ž
4,Jan,Pekárek,softwarové inženýrství,1.0,7.0,1.05,M
...,...,...,...,...,...,...,...
282,Ondřej,Požár,webové inženýrství,2.0,8.0,1.94,M
283,Jaromír,Gabriel,počítačová grafika,3.0,8.0,1.38,M
284,Denisa,Bílková,teoretická informatika,5.0,5.0,1.03,Ž
285,Pavlína,Filová,číslicová technika,4.0,8.0,2.37,Ž
286,Klára,Valentová,správa IT systémů,1.0,11.0,1.10,Ž

In [74]:
# Zisti pocet muzov a zien v jednotlivych rocnikoch

spojeny.groupby(["ročník", "pohlaví"])["příjmení"].count()

ročník  pohlaví
1.0     M          24
        Ž          39
2.0     M          29
        Ž          38
3.0     M          21
        Ž          31
4.0     M          26
        Ž          34
5.0     M          17
        Ž          28
Name: příjmení, dtype: int64

In [76]:
# Vytvor slpec 'cele_meno', v ktorom bude ulozene cele meno studenta (jméno a příjmení); napr. 'Ludmila Šindlerová'

spojeny["cele_meno"] = spojeny["jméno"] + " " + spojeny["příjmení"]
spojeny

,jméno,příjmení,obor,ročník,kruh,prospěch,pohlaví,cele_meno
0,Ludmila,Šindlerová,informatika a management,4.0,11.0,2.49,Ž,Ludmila Šindlerová
1,Ludmila,Dvořáková,číslicová technika,3.0,3.0,2.32,Ž,Ludmila Dvořáková
2,Ludmila,Sklářová,softwarové inženýrství,5.0,7.0,2.95,Ž,Ludmila Sklářová
3,Ludmila,Dorazilová,softwarové inženýrství,2.0,10.0,2.00,Ž,Ludmila Dorazilová
4,Jan,Pekárek,softwarové inženýrství,1.0,7.0,1.05,M,Jan Pekárek
...,...,...,...,...,...,...,...,...
282,Ondřej,Požár,webové inženýrství,2.0,8.0,1.94,M,Ondřej Požár
283,Jaromír,Gabriel,počítačová grafika,3.0,8.0,1.38,M,Jaromír Gabriel
284,Denisa,Bílková,teoretická informatika,5.0,5.0,1.03,Ž,Denisa Bílková
285,Pavlína,Filová,číslicová technika,4.0,8.0,2.37,Ž,Pavlína Filová
286,Klára,Valentová,správa IT systémů,1.0,11.0,1.10,Ž,Klára Valentová